@{
    ViewData["Title"] = "_PaginaPrincipal";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<!-- End Navbar -->

<div class="content" ng-controller="MeuAppCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 style="color: #3ebbec; font-size: 16px" class="title"> FAMETRO - GUILHERME ROCHA @DateTime.Now.ToString("HH:mm:ss") </h5>
                    <div>
                        <ul>
                            <li><p>Usuario : {{Usuario.nome}}</p></li>
                            <li>Tipo de usuario: {{Usuario.tipoFuncionario}}</li>
                            <li>sala reservada : {{DbSala.numeroDaSala}}</li>
                            <li>reserva : {{SalaReservada}}</li>
                        </ul>
                    </div>
                    <div class="filtro">
                        <label>PESQUISAR</label>
                        <select ng-model="filtro" class="btn-dark">
                            <option value="">Todas as Salas</option>
                            <option value="5">Liberadas</option>
                            <option value="1">Ocupadas</option>
                            <option value="2">Desocupadas</option>
                            <option value="3">Reservadas</option>
                            <option value="4">Limpa</option>

                        </select>
                    </div>
                    <div>
                        <P>Catálogo de Salas - [Escolha abaixo na qual deseja utilizar]</P>
                    </div>
                </div>
                <div class="card-body all-icons">
                    <div class="row">
                        <div ng-repeat="sala in mydata | filter: {'statusDaSala': filtro}" id="{{sala.salaDeAulaId}}" class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">

                            <div class="font-icon-detail  {{'cor' + sala.statusDaSala}}">
                                <img src="~/images/icons/81419d8a9c.png" />
                                <P><H2>SALA {{sala.numeroDaSala}}</H2></P>
                                <div class="buttonSala">
                                    <select ng-disabled="Reserva(sala.statusDaSala, sala.numeroDaSala, DbSala.numeroDaSala)" class="btn-dark" ng-model="status.selecionado">
                                        <option value="">Selecione</option>
                                        <option id="Entrar" data-ng-if="opcoes1(Usuario.tipoFuncionario)" value="1">Entrar nesta Sala</option>
                                        <option id="Liberar" data-ng-if="opcoes1(Usuario.tipoFuncionario)" value="2">Sair da Sala</option>
                                        <option id="Reservar" data-ng-if="opcoes1(Usuario.tipoFuncionario, DbSala.numeroDaSala)" value="3">Reservar esta Sala</option>
                                        <option id="Limpar" data-ng-if="opcoes2(Usuario.tipoFuncionario)" value="4">Limpar Sala</option>
                                        <option id="Limpar" data-ng-if="opcoes2(Usuario.tipoFuncionario)" value="5">Fechar Sala</option>
                                    </select>
                                    <button ng-if="status.selecionado" id="{{sala.salaDeAulaId}}" class="btn btn-dark" ng-click="statusSala(status, Usuario.usuarioId, SalaReservada)">ok</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>



