@{
    ViewData["Title"] = "teste";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@model webOkClass.Models.Usuario
<!-- End Navbar -->
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 style="color: #3ebbec; font-size: 16px" class="title"> FAMETRO - GUILHERME ROCHA </h5>
                    <P>Catálogo de Salas - [Escolha abaixo na qual deseja utilizar]</P>
                </div>

                <div class="card-body all-icons">
                    <div class="row">
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="dropdown">
                                <button type="button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown">
                                    <i class="tim-icons icon-settings-gear-63"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#pablo">Entrar nesta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Fechar esta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Reservar esta Sala</a>
                                </div>
                            </div>
                            <div class="font-icon-detail">
                                <i class="tim-icons icon-app"></i>
                                <P><H2>SALA 100</H2></P>
                            </div>
                        </div>

                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="dropdown">
                                <button type="button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown">
                                    <i class="tim-icons icon-settings-gear-63"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#pablo">Entrar nesta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Fechar esta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Reservar esta Sala</a>
                                </div>
                            </div>
                            <div class="font-icon-detail">
                                <i class="tim-icons icon-app"></i>
                                <P><H2>SALA 105</H2></P>
                            </div>
                        </div>

                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="dropdown">
                                <button type="button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown">
                                    <i class="tim-icons icon-settings-gear-63"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#pablo">Entrar nesta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Fechar esta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Reservar esta Sala</a>
                                </div>
                            </div>
                            <div class="font-icon-detail">
                                <i class="tim-icons icon-app"></i>
                                <P><H2>SALA 110</H2></P>
                            </div>
                        </div>

                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="dropdown">
                                <button type="button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown">
                                    <i class="tim-icons icon-settings-gear-63"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#pablo">Entrar nesta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Fechar esta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Reservar esta Sala</a>
                                </div>
                            </div>
                            <div class="font-icon-detail">
                                <i class="tim-icons icon-app"></i>
                                <P><H2>SALA 115</H2></P>
                            </div>
                        </div>

                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="dropdown">
                                <button type="button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown">
                                    <i class="tim-icons icon-settings-gear-63"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#pablo">Entrar nesta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Fechar esta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Reservar esta Sala</a>
                                </div>
                            </div>
                            <div class="font-icon-detail">
                                <i class="tim-icons icon-app"></i>
                                <P><H2>SALA 120</H2></P>
                            </div>
                        </div>

                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="dropdown">
                                <button type="button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown">
                                    <i class="tim-icons icon-settings-gear-63"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#pablo">Entrar nesta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Fechar esta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Reservar esta Sala</a>
                                </div>
                            </div>
                            <div class="font-icon-detail">
                                <i class="tim-icons icon-app"></i>
                                <P><H2>SALA 125</H2></P>
                            </div>
                        </div>

                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="dropdown">
                                <button type="button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown">
                                    <i class="tim-icons icon-settings-gear-63"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#pablo">Entrar nesta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Fechar esta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Reservar esta Sala</a>
                                </div>
                            </div>
                            <div class="font-icon-detail">
                                <i class="tim-icons icon-app"></i>
                                <P><H2>SALA 130</H2></P>
                            </div>
                        </div>

                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="dropdown">
                                <button type="button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown">
                                    <i class="tim-icons icon-settings-gear-63"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#pablo">Entrar nesta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Fechar esta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Reservar esta Sala</a>
                                </div>
                            </div>
                            <div class="font-icon-detail">
                                <i class="tim-icons icon-app"></i>
                                <P><H2>SALA 135</H2></P>
                            </div>
                        </div>

                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="dropdown">
                                <button type="button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown">
                                    <i class="tim-icons icon-settings-gear-63"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#pablo">Entrar nesta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Fechar esta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Reservar esta Sala</a>
                                </div>
                            </div>
                            <div class="font-icon-detail">
                                <i class="tim-icons icon-app"></i>
                                <P><H2>SALA 140</H2></P>
                            </div>
                        </div>

                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="dropdown">
                                <button type="button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown">
                                    <i class="tim-icons icon-settings-gear-63"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#pablo">Entrar nesta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Fechar esta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Reservar esta Sala</a>
                                </div>
                            </div>
                            <div class="font-icon-detail">
                                <i class="tim-icons icon-app"></i>
                                <P><H2>SALA 145</H2></P>
                            </div>
                        </div>

                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="dropdown">
                                <button type="button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown">
                                    <i class="tim-icons icon-settings-gear-63"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#pablo">Entrar nesta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Fechar esta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Reservar esta Sala</a>
                                </div>
                            </div>
                            <div class="font-icon-detail">
                                <i class="tim-icons icon-app"></i>
                                <P><H2>SALA 150</H2></P>
                            </div>
                        </div>

                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="dropdown">
                                <button type="button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown">
                                    <i class="tim-icons icon-settings-gear-63"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#pablo">Entrar nesta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Fechar esta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Reservar esta Sala</a>
                                </div>
                            </div>
                            <div class="font-icon-detail">
                                <i class="tim-icons icon-app"></i>
                                <P><H2>SALA 155</H2></P>
                            </div>
                        </div>

                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="dropdown">
                                <button type="button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown">
                                    <i class="tim-icons icon-settings-gear-63"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#pablo">Entrar nesta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Fechar esta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Reservar esta Sala</a>
                                </div>
                            </div>
                            <div class="font-icon-detail">
                                <i class="tim-icons icon-app"></i>
                                <P><H2>SALA 160</H2></P>
                            </div>
                        </div>

                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="dropdown">
                                <button type="button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown">
                                    <i class="tim-icons icon-settings-gear-63"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#pablo">Entrar nesta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Fechar esta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Reservar esta Sala</a>
                                </div>
                            </div>
                            <div class="font-icon-detail">
                                <i class="tim-icons icon-app"></i>
                                <P><H2>SALA 165</H2></P>
                            </div>
                        </div>

                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="dropdown">
                                <button type="button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown">
                                    <i class="tim-icons icon-settings-gear-63"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#pablo">Entrar nesta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Fechar esta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Reservar esta Sala</a>
                                </div>
                            </div>
                            <div class="font-icon-detail">
                                <i class="tim-icons icon-app"></i>
                                <P><H2>SALA 170</H2></P>
                            </div>
                        </div>

                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="dropdown">
                                <button type="button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown">
                                    <i class="tim-icons icon-settings-gear-63"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#pablo">Entrar nesta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Fechar esta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Reservar esta Sala</a>
                                </div>
                            </div>
                            <div class="font-icon-detail">
                                <i class="tim-icons icon-app"></i>
                                <P><H2>SALA 175</H2></P>
                            </div>
                        </div>

                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="dropdown">
                                <button type="button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown">
                                    <i class="tim-icons icon-settings-gear-63"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#pablo">Entrar nesta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Fechar esta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Reservar esta Sala</a>
                                </div>
                            </div>
                            <div class="font-icon-detail">
                                <i class="tim-icons icon-app"></i>
                                <P><H2>SALA 180</H2></P>
                            </div>
                        </div>

                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="dropdown">
                                <button type="button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown">
                                    <i class="tim-icons icon-settings-gear-63"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#pablo">Entrar nesta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Fechar esta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Reservar esta Sala</a>
                                </div>
                            </div>
                            <div class="font-icon-detail">
                                <i class="tim-icons icon-app"></i>
                                <P><H2>SALA 185</H2></P>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 style="color: #3ebbec; font-size: 16px" class="title"> FAMETRO - CONSELHEIRO ESTELITA </h5>
                    <P>Catálogo de Salas - [Escolha abaixo na qual deseja utilizar]</P>
                    <p class="category"> </p>
                </div>

                <div class="card-body all-icons">
                    <div class="row">
                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="dropdown">
                                <button type="button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown">
                                    <i class="tim-icons icon-settings-gear-63"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#pablo">Entrar nesta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Fechar esta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Reservar esta Sala</a>
                                </div>
                            </div>
                            <div class="font-icon-detail">
                                <i class="tim-icons icon-app"></i>
                                <P><H2>SALA 190</H2></P>
                            </div>
                        </div>

                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="dropdown">
                                <button type="button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown">
                                    <i class="tim-icons icon-settings-gear-63"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#pablo">Entrar nesta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Fechar esta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Reservar esta Sala</a>
                                </div>
                            </div>
                            <div class="font-icon-detail">
                                <i class="tim-icons icon-app"></i>
                                <P><H2>SALA 195</H2></P>
                            </div>
                        </div>

                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="dropdown">
                                <button type="button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown">
                                    <i class="tim-icons icon-settings-gear-63"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#pablo">Entrar nesta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Fechar esta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Reservar esta Sala</a>
                                </div>
                            </div>
                            <div class="font-icon-detail">
                                <i class="tim-icons icon-app"></i>
                                <P><H2>SALA 200</H2></P>
                            </div>
                        </div>

                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="dropdown">
                                <button type="button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown">
                                    <i class="tim-icons icon-settings-gear-63"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#pablo">Entrar nesta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Fechar esta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Reservar esta Sala</a>
                                </div>
                            </div>
                            <div class="font-icon-detail">
                                <i class="tim-icons icon-app"></i>
                                <P><H2>SALA 205</H2></P>
                            </div>
                        </div>

                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="dropdown">
                                <button type="button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown">
                                    <i class="tim-icons icon-settings-gear-63"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#pablo">Entrar nesta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Fechar esta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Reservar esta Sala</a>
                                </div>
                            </div>
                            <div class="font-icon-detail">
                                <i class="tim-icons icon-app"></i>
                                <P><H2>SALA 210</H2></P>
                            </div>
                        </div>

                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="dropdown">
                                <button type="button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown">
                                    <i class="tim-icons icon-settings-gear-63"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#pablo">Entrar nesta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Fechar esta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Reservar esta Sala</a>
                                </div>
                            </div>
                            <div class="font-icon-detail">
                                <i class="tim-icons icon-app"></i>
                                <P><H2>SALA 215</H2></P>
                            </div>
                        </div>

                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="dropdown">
                                <button type="button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown">
                                    <i class="tim-icons icon-settings-gear-63"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#pablo">Entrar nesta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Fechar esta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Reservar esta Sala</a>
                                </div>
                            </div>
                            <div class="font-icon-detail">
                                <i class="tim-icons icon-app"></i>
                                <P><H2>SALA 220</H2></P>
                            </div>
                        </div>

                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="dropdown">
                                <button type="button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown">
                                    <i class="tim-icons icon-settings-gear-63"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#pablo">Entrar nesta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Fechar esta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Reservar esta Sala</a>
                                </div>
                            </div>
                            <div class="font-icon-detail">
                                <i class="tim-icons icon-app"></i>
                                <P><H2>SALA 225</H2></P>
                            </div>
                        </div>

                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="dropdown">
                                <button type="button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown">
                                    <i class="tim-icons icon-settings-gear-63"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#pablo">Entrar nesta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Fechar esta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Reservar esta Sala</a>
                                </div>
                            </div>
                            <div class="font-icon-detail">
                                <i class="tim-icons icon-app"></i>
                                <P><H2>SALA 230</H2></P>
                            </div>
                        </div>

                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="dropdown">
                                <button type="button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown">
                                    <i class="tim-icons icon-settings-gear-63"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#pablo">Entrar nesta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Fechar esta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Reservar esta Sala</a>
                                </div>
                            </div>
                            <div class="font-icon-detail">
                                <i class="tim-icons icon-app"></i>
                                <P><H2>SALA 235</H2></P>
                            </div>
                        </div>

                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="dropdown">
                                <button type="button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown">
                                    <i class="tim-icons icon-settings-gear-63"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#pablo">Entrar nesta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Fechar esta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Reservar esta Sala</a>
                                </div>
                            </div>
                            <div class="font-icon-detail">
                                <i class="tim-icons icon-app"></i>
                                <P><H2>SALA 240</H2></P>
                            </div>
                        </div>

                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="dropdown">
                                <button type="button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown">
                                    <i class="tim-icons icon-settings-gear-63"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#pablo">Entrar nesta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Fechar esta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Reservar esta Sala</a>
                                </div>
                            </div>
                            <div class="font-icon-detail">
                                <i class="tim-icons icon-app"></i>
                                <P><H2>SALA 245</H2></P>
                            </div>
                        </div>

                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="dropdown">
                                <button type="button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown">
                                    <i class="tim-icons icon-settings-gear-63"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#pablo">Entrar nesta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Fechar esta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Reservar esta Sala</a>
                                </div>
                            </div>
                            <div class="font-icon-detail">
                                <i class="tim-icons icon-app"></i>
                                <P><H2>SALA 250</H2></P>
                            </div>
                        </div>

                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="dropdown">
                                <button type="button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown">
                                    <i class="tim-icons icon-settings-gear-63"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#pablo">Entrar nesta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Fechar esta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Reservar esta Sala</a>
                                </div>
                            </div>
                            <div class="font-icon-detail">
                                <i class="tim-icons icon-app"></i>
                                <P><H2>SALA 255</H2></P>
                            </div>
                        </div>

                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="dropdown">
                                <button type="button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown">
                                    <i class="tim-icons icon-settings-gear-63"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#pablo">Entrar nesta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Fechar esta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Reservar esta Sala</a>
                                </div>
                            </div>
                            <div class="font-icon-detail">
                                <i class="tim-icons icon-app"></i>
                                <P><H2>SALA 260</H2></P>
                            </div>
                        </div>

                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="dropdown">
                                <button type="button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown">
                                    <i class="tim-icons icon-settings-gear-63"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#pablo">Entrar nesta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Fechar esta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Reservar esta Sala</a>
                                </div>
                            </div>
                            <div class="font-icon-detail">
                                <i class="tim-icons icon-app"></i>
                                <P><H2>SALA 265</H2></P>
                            </div>
                        </div>

                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="dropdown">
                                <button type="button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown">
                                    <i class="tim-icons icon-settings-gear-63"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#pablo">Entrar nesta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Fechar esta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Reservar esta Sala</a>
                                </div>
                            </div>
                            <div class="font-icon-detail">
                                <i class="tim-icons icon-app"></i>
                                <P><H2>SALA 270</H2></P>
                            </div>
                        </div>

                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                            <div class="dropdown">
                                <button type="button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown">
                                    <i class="tim-icons icon-settings-gear-63"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#pablo">Entrar nesta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Fechar esta Sala</a>
                                    <a class="dropdown-item" href="#pablo">Reservar esta Sala</a>
                                </div>
                            </div>
                            <div class="font-icon-detail">
                                <i class="tim-icons icon-app"></i>
                                <P><H2>SALA 275</H2></P>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>