.Limpa{
    background-image:url(~/images/icons/simbolo.png);
    width: 50px;
    height: 50px;
}
img{
    width: 50px;
}
#legenda{
    width: 100%;
}
.active a {
    font-size: 16px !important;
}
.collapseLi a{
    padding: 0px!important;
}
.cor1 {
    border: 3px solid red !important;
}
.cor2 {
    border: 3px solid black !important;
}
.cor3 {
    border: 3px solid yellow !important;
}
.cor4 {
    border: 3px solid blue !important;
}
.cor5 {
    border: 3px solid #0ef30e !important;
}
.buttonSala {
    display: grid;
}
.font-icon-detail{
    padding-top: 10px!important;
    padding-bottom: 0px!important;
}
select{
    width: 100%;
}
.title {
    display: -webkit-inline-box;
    margin-right: 30%;
}
.filtro {
    display: -webkit-inline-box;
    float: right;
    margin-left: 10%;
    margin-right: 5%;
}
.filtro label {
        display: block;
        margin-bottom: 0px;
        margin-top: 2px;
        margin-right: 10px;
}
.card-header div {
    display: -webkit-inline-box;
}
