/*ESTILO DO CADASTRO.HTML*/
div #simb-nav{
	width: 50px;
	margin-left: 10px;
    image-resolution:from-image;
}

h2 {
    margin: 3% !important;
}

form {
    margin-left: 25%;
    margin-right: 25%
}

#BtnCadastra {
    text-align: right;
    margin-top: 10px;
}

.form div {
    margin: 15px;
}

.form-row div {
    margin: 0;
}
nav form{
    margin: 0;
}